apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: todo-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-backend
  strategy:
    canary:
      steps:
        - setWeight: 50
        - analysis:
            templates:
            - templateName: cpu-usage
  template:
    metadata:
      labels:
        app: todo-backend
    spec:
      containers:
        - name: todo-backend
          image: TODOBACKEND/IMAGE
          imagePullPolicy: Always
          env:
          - name: PORT
            value: "8003"
          - name: NATS_URL
            value: nats://my-nats:4222
          envFrom:
            - secretRef:
                name: todo-database-secret
          resources:
            limits:
              cpu: "100m"
              memory: "20Mi"
          readinessProbe:
            initialDelaySeconds: 5
            periodSeconds: 5
            httpGet:
              path: /healthz
              port: 8003
          livenessProbe:
            initialDelaySeconds: 20
            periodSeconds: 5
            httpGet:
              path: /healthz
              port: 8003